* {
    margin: 0px;
    padding: 0px;
}

body,
html {
    height: 100%;
}

.row {
    height: 100%;
}

.column {
    float: left;
    padding: 0px;
    height: 100%;
}

.left {
    width: 300px;
    background-color: #c96807;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}

.left>div {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.right {
    width: calc( 100% - 400px);
    background-color: #e6e6e6;
    float: right;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: left;
    padding: 0 50px;
}

.right>div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* SIDEBAR */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Muli', sans-serif;
    font-weight: 400;
    margin-top: 20px;
}

li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
}

li a:hover {
    color: white;
}

img {
    margin-right: auto;
    margin-left: auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border-color: #f17d08;
    border-width: 10px;
    border-style: solid;
}

li.active a {
    color: rgb(88, 88, 88);
}


/* ABOUT */

.name {
    font-family: 'Saira Extra Condensed', sans-serif;
    font-size: 60px;
    line-height: 60px;
    font-weight: 800;
    color: black;
}

.surname {
    color: #c96807;
}

.adress {
    color: grey;
    font-size: 20px;
    line-height: 20px;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.adress a {
    text-decoration: none;
    color: #c96807;
}

.icons a {
    color: white;
    margin-top: 20px;
    font-size: 25px;
    line-height: 25px;
    display: inline-block;
    margin-right: 10px;
    background-color: black;
    padding: 10px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
}

.icons a:hover {
    background-color: #c96807;
}


/* EDUCATION */

.education {
    font-family: 'Saira Extra Condensed', sans-serif;
    font-weight: 800;
    font-size: 50px;
}

.txteducation {
    font-family: 'Saira Extra Condensed', sans-serif;
    font-weight: 400;
    font-size: 30px;
}

.txteducation span {
    color: #c96807;
    float: right;
    font-size: 20px;
}

.IT {
    color: grey;
    font-size: 15px;
    font-family: ' Saira Extra Condensed', sans-serif;
}